.highlight .hll {
    background-color: #ffc;
}
.highlight .c {
    color: #998;
    font-style: italic;
}
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}
.highlight .k, .highlight .o {
    color: #000;
    font-weight: 700;
}
.highlight .cm {
    color: #998;
    font-style: italic;
}
.highlight .cp {
    color: #999;
    font-weight: 700;
    font-style: italic;
}
.highlight .c1 {
    color: #998;
    font-style: italic;
}
.highlight .cs {
    color: #999;
    font-weight: 700;
    font-style: italic;
}
.highlight .gd {
    color: #000;
    background-color: #fdd;
}
.highlight .ge {
    color: #000;
    font-style: italic;
}
.highlight .gr {
    color: #a00;
}
.highlight .gh {
    color: #999;
}
.highlight .gi {
    color: #000;
    background-color: #dfd;
}
.highlight .go {
    color: #888;
}
.highlight .gp {
    color: #555;
}
.highlight .gs {
    font-weight: 700;
}
.highlight .gu {
    color: #aaa;
}
.highlight .gt {
    color: #a00;
}
.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr {
    color: #000;
    font-weight: 700;
}
.highlight .kt {
    color: #458;
    font-weight: 700;
}
.highlight .m {
    color: #099;
}
.highlight .s {
    color: #d01040;
}
.highlight .na {
    color: teal;
}
.highlight .nb {
    color: #0086b3;
}
.highlight .nc {
    color: #458;
    font-weight: 700;
}
.highlight .no {
    color: teal;
}
.highlight .nd {
    color: #3c5d5d;
    font-weight: 700;
}
.highlight .ni {
    color: purple;
}
.highlight .ne, .highlight .nf, .highlight .nl {
    color: #900;
    font-weight: 700;
}
.highlight .nn {
    color: #555;
}
.highlight .nt {
    color: navy;
}
.highlight .nv {
    color: teal;
}
.highlight .ow {
    color: #000;
    font-weight: 700;
}
.highlight .w {
    color: #bbb;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #099;
}
.highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: #d01040;
}
.highlight .sr {
    color: #009926;
}
.highlight .s1 {
    color: #d01040;
}
.highlight .ss {
    color: #990073;
}
.highlight .bp {
    color: #999;
}
.highlight .vc, .highlight .vg, .highlight .vi {
    color: teal;
}
.highlight .il {
    color: #099;
}
html {
    font-size: 100%;
    -webkit-font-feature-settings: "onum", "kern", common-ligatures contextual;
    font-feature-settings: "onum", "kern", common-ligatures contextual;
    font-variant-numeric: oldstyle-nums;
    line-height: 1.5;
    font-family: Lato, Helvetica Neue, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-variant-ligatures: common-ligatures contextual;
    font-variant-ligatures: common-ligatures contextual;
    color: #111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (min-width:35.5em) {
    html {
    font-size: 112.5%}
}*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
h1, h2, h3 {
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
    margin: 1.414em 0 .5em;
    line-height: 1.2;
}
h1.u-lead {
    font-family: Lato, Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 1.9994em;
}
h1 {
    font-size: 1.44em;
}
@media (min-width:48em) {
    h1 {
    font-size: 1.9994em;
}
}h2 {
    font-size: 1.2em;
}
@media (min-width:48em) {
    h2 {
    font-size: 1.414em;
}
}h3 {
    font-size: 1.1em;
}
aside, small {
    font-size: .875em;
}
a {
    color: #224562;
}
a:hover {
    color: #32742c;
}
code, pre, tt {
    font-family: Consolas, Liberation Mono, Menlo, Courier New, Courier, monospace;
    font-size: .9em;
    overflow: auto;
}
pre {
    white-space: pre;
    margin: 1.5rem -1.5rem;
    padding: 1.5em;
    background-color: #f9f9f9;
}
@media (min-width:35.5em) {
    .cp_embed_wrapper {
    margin: 1.5rem -1.5rem;
}
}.highlight .err {
    color: inherit;
    background-color: inherit;
}
dd, ol, ul {
    margin: 0;
    padding: 0;
}
.gist code, .gist pre, .gist tt {
    font-size: 1em;
}
blockquote {
    font-family: Merriweather, Georgia, serif;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0;
    padding: .5em 10px;
    line-height: 1.65;
    quotes: "\201C""\201D""\2018""\2019"}
blockquote ol, blockquote ul {
    padding-left: 2em;
}
blockquote blockquote {
    border-left: none;
    quotes: none;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}
blockquote p {
    display: inline;
}
blockquote cite {
    color: #777;
    font-size: .875em;
    display: block;
    margin-top: 5px;
    font-style: italic;
}
blockquote cite:before {
    content: "\2014 \2009"}
aside {
    background: #f9f9f9;
    margin: 1.5rem -1.5rem;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
hr {
    opacity: .3;
    color: #ccc;
}
figure {
    margin: 0;
    padding-top: 1em;
}
figcaption {
    margin-top: .5em;
    font-size: .875em;
    color: #777;
    text-align: center;
}
.Nav, .u-container, .u-separator {
    max-width: 640px;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1.8em;
}
.u-separator {
    border-bottom: 1px solid #ccc;
    max-width: calc(40rem - 2em);
    opacity: .5;
    font-size: 16px;
    color: #111;
}
.u-muted {
    color: #777;
}
.u-2-col-list {
    padding: .5rem 0 0;
    list-style: none;
}
.u-2-col-list li {
    margin-bottom: 1.3em;
}
.u-2-col-list li span {
    display: block;
    font-size: .9em;
    margin-top: -1.5em;
    padding: 1.7em 0 .5em;
}
@media (min-width:48em) {
    .u-2-col-list li span {
    padding: 0 0 0 13.5em;
}
}.Site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
.Site-header {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.Site-footer {
    padding: 0;
    margin-top: 5vh;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%}
@media (min-width:48em) {
    .Site-footer {
    margin-top: 2.82715em;
}
}.Nav {
    margin-bottom: .556em;
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width:35.5em) {
    .Nav {
    padding-top: 2em;
}
}.Nav a {
    text-decoration: none;
    font-size: 1.3em;
}
.Nav-home a {
    font-family: Merriweather, Georgia, serif;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    font-size: 1em;
}
@media (min-width:28em) {
    .Nav-home a {
    font-size: 1.3em;
}
}.wf-loading .Nav-home a {
    font-size: 133%}
.Nav-sections {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media (min-width:35.5em) {
    .Nav-sections {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
}.Nav-sections .Nav-section {
    font-family: Lato, Helvetica Neue, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: 0 15px;
}
.wf-loading .Nav-sections .Nav-section {
    font-weight: 200;
}
.Nav-sections .Nav-section:last-child {
    padding-right: 0;
}
.Nav-sections .Nav-section.Nav-section--active {
    font-weight: 400;
}
.Footer {
    margin: 10px auto 0;
    font-family: Merriweather, Georgia, serif;
    font-size: .83333em;
    color: #777;
    text-align: center;
    padding: 0 1.8em;
}
@media (min-width:35.5em) {
    .Footer {
    font-size: .70721em;
}
}.Footer a {
    color: #777;
}
.Footer a:hover {
    color: #32742c;
    opacity: .8;
}
.Footer p {
    margin: 0;
}
.Footer .Footer-social {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.Footer .Footer-social a {
    text-decoration: none;
}
.Footer .Footer-social .SocialIcon {
    display: inline;
    margin: 0 1vw;
    padding: 0;
}
.Site-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%}
@media (min-height:56.25em) {
    .Site-content {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5 0 auto;
    flex: 0.5 0 auto;
}
}.Page {
    padding-top: 5vh;
}
@media (min-width:48em) {
    .Page {
    padding-top: 2.82715em;
}
}.Page--landing {
    font-family: Merriweather, Georgia, serif;
}
.wf-loading .Page--landing p {
    font-size: 112%}
.Article>h1, .Page>h1 {
    margin: 0;
}
.Article-content {
    margin-top: 1.44em;
}
@media (min-width:48em) {
    .Article-content {
    margin-top: 1.9994em;
}
}.Article-content>p:first-child {
    font-size: 1.15em;
    color: #777;
}
.Article-content>p:first-child a {
    color: rgba(35, 70, 98, .8);
}
@media (min-width:48em) {
    .Article-content>p: first-child {
    font-size: 1.3em;
}
}.Article-date {
    font-family: Merriweather, Georgia, serif;
    color: #777;
    font-size: .875em;
}
.Article-tags {
    text-align: right;
    font-style: italic;
    color: #777;
}
.Article-comments {
    font-family: Lato, Helvetica Neue, sans-serif;
}
.Article img {
    display: block;
    margin: 0 auto;
    max-width: 100%}
.Article-meta {
    padding-top: .5em;
}
.Article h1+p, .Article h2+p, .Article h3+p {
    margin-top: 0;
}
.Article ul {
    list-style: none;
}
.Article li {
    margin-left: 1.875em;
    margin-bottom: .6em;
}
.Article ul li:before {
    font-weight: 300;
    padding-right: .7em;
    content: "\2022";
    position: absolute;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 4.875em;
    margin-left: -4.875em;
    text-align: right;
}
.Entry {
    margin: 25px 3vw;
}
.Entry .Entry-title a {
    text-decoration: none;
    font-family: Merriweather, Georgia, serif;
    font-weight: 400;
}
.Entry-detail {
    font: Merriweather, Georgia, serif;
    margin-left: 140px;
}
.Entry-date {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
    color: #777;
    text-align: right;
    font-family: Merriweather, Georgia, serif;
    font-size: .875em;
}
.Entry-description {
    font-size: 1em;
    font-family: Lato, Helvetica Neue, sans-serif;
    font-weight: 400;
}
@media (min-width:48em) {
    .Entry-description {
    font-size: .9em;
}
}.WordCount {
    color: #777;
}
.Pagination {
    margin: 36px 0 0;
    text-align: center;
}
.Pagination strong {
    font-weight: 400;
    font-style: italic;
}
.Tag-header {
    font-size: 1.1em;
    text-align: center;
}
.Progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px;
    opacity: .8;
    background-color: #224562;
    max-width: 100%}
